.navv{
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
   
}
.navv a{
    color: rgb(255,77,103);
    font-size: large;
}
.navv a:hover{
    color:  #eec0c6;
}
.inputDiv{
   display: flex;
   align-items: center;
   justify-content: center;
   transform: translateY(25%);
   
}

